
 .navbar {
    background-color: rgb(205, 208, 218); /* Nuevo color de fondo */
}
.navbar-brand, .navbar-nav .nav-link {
    color: #000; /* Cambiar color de texto */
}
.navbar-toggler {
    color: #000; /* Cambiar color del botón toggle */
}
.contenedor{
    max-width: 85%;
    margin: 20px auto;
   
}
.principal{
    display: grid;
    grid-template-columns:40% 60%;
    background-color: rgb(185, 198, 233);
    padding: 20px 0;
    border-radius: 20px;
    height: 70vh;
}
.contenedor-img{
    display: flex;
    justify-content: center;
}

.texto-principal {
    padding: 0 30px;
}
 
.text-CONOCENOS { 
    text-align: end;
    padding-right: 35px;
}
